<div class="carousel slide carousel-fade">
  <div class="carousel-inner" ng-transclude=""></div>
  <a class="carousel-control-prev" href="#" role="button" ng-click="carouselPrev($event)">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#" role="button" ng-click="carouselNext($event)">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
