<div class="row col-12">
  <tile ng-repeat="tile in homeCtrl.tiles"></tile>
  <div ng-if="homeCtrl.tiles.length == 0" class="col">
    <p class="text-center">
      No tiles available
    </p>
  </div>
</div>
