<div>
  <img class="d-block img-fluid" src="http://via.placeholder.com/450x150" alt="">
  <div class="carousel-caption d-none d-md-block">
    <h5>{{ task.title }}</h5>
    <p>...</p>
  </div>
</div>
