<form>
  <formly-form model="formCtrl.model" fields="formCtrl.fields">
    <button type="submit" class="btn btn-primary submit-button" ng-disabled="formCtrl.form.$invalid">Submit</button>
  </formly-form>
</form>
