<div class="col-4 pb-4">
  <div class="card">
    <div class="card-img-top">
      <carousel ng-if="tile.tasks.length > 0">
        <carousel-item ng-repeat="task in tile.tasks">
          <task></task>
        </carousel-item>
      </carousel>
      <div ng-if="tile.tasks.length == 0">
        <img class="d-block img-fluid" src="http://via.placeholder.com/450x150" alt="">
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">#{{ tile.id }}</h5>
      <div class="card-text">
        <p>
          launch: {{ tile.launch_date|date }}<br/>
          status: {{ tile.status }}
        </p>

        <p>
          <a ui-sref="edit({id: tile.id})" class="btn btn-link">Edit</a>
          <button class="btn btn-danger" ng-click="tileCtrl.deleteTile(tile)">Delete</button>
        </p>
      </div>
    </div>
  </div>
</div>
