{% load static %}
<!DOCTYPE html>
<html ng-app="app" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Incling</title>
  <body>
    <app></app>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
