<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
</body>
</html>
